@import url(normalize.css);
.resetFontSize p, .column * p, .resetFontSize span, .column * span, .resetFontSize i, .column * i {
  font-size: 14px !important; }
.resetFontSize h1, .column * h1 {
  font-size: 36px !important; }
.resetFontSize h2, .column * h2 {
  font-size: 30px !important; }
.resetFontSize h3, .column * h3 {
  font-size: 24px !important; }
.resetFontSize h4, .column * h4 {
  font-size: 18px !important; }
.resetFontSize h5, .column * h5 {
  font-size: 14px !important; }
.resetFontSize h6, .column * h6 {
  font-size: 12px !important; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden; }

html, body {
  width: 200vw;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

body {
  height: 100vh; }
  body.search-active .add-ride {
    display: none; }
  body.search-active footer {
    display: none; }
  body.search-active #openSidebar {
    display: none; }

.resetFontSize p, .column * p, .resetFontSize span, .column * span, .resetFontSize i, .column * i {
  font-size: 14px !important; }
.resetFontSize h1, .column * h1 {
  font-size: 36px !important; }
.resetFontSize h2, .column * h2 {
  font-size: 30px !important; }
.resetFontSize h3, .column * h3 {
  font-size: 24px !important; }
.resetFontSize h4, .column * h4 {
  font-size: 18px !important; }
.resetFontSize h5, .column * h5 {
  font-size: 14px !important; }
.resetFontSize h6, .column * h6 {
  font-size: 12px !important; }

.column {
  height: 100%;
  display: inline-block;
  font-size: 0;
  margin: 0;
  vertical-align: top; }

.row {
  width: 100%; }

.app {
  height: 100vh;
  width: 200vw;
  position: absolute;
  top: 0;
  left: 0; }

sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  background: #674172;
  height: 100%;
  z-index: 1; }
  sidebar li {
    width: 100%;
    display: table; }
    sidebar li * {
      display: table-cell;
      vertical-align: middle; }
    sidebar li:nth-of-type(even) a {
      background: rgba(255, 255, 255, 0.2); }
    sidebar li a {
      height: 60px;
      width: 100%;
      padding: 8px 12px;
      background: rgba(255, 255, 255, 0.3); }

header i {
  height: 100%;
  text-align: center;
  padding-top: 4px;
  font-size: 32px; }
header .column:last-of-type {
  float: right; }
  header .column:last-of-type i {
    padding-top: 2px; }

.header, header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 60px;
  background: #fff;
  padding: 12px;
  color: #674172; }

.floating-date {
  text-align: left;
  padding: 4px 12px;
  color: #aac5ca;
  display: none; }

footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 10px;
  background: #7099a2;
  text-align: center;
  color: #fff; }
  footer * {
    display: inline-block;
    vertical-align: middle; }
  footer h3 {
    font-weight: 300;
    letter-spacing: 1.6px; }
  footer i {
    margin-right: 8px; }

#main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: 2;
  background: #fff;
  overflow: hidden; }
  #main * {
    max-width: 100vw; }

.logo {
  width: 100%;
  height: 120px;
  text-align: left;
  padding: 14px;
  display: table; }
  .logo h1 {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px; }

.search {
  padding: 25px 0 0 0;
  width: 100vw;
  position: absolute;
  top: 60px;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 200ms, opacity 200ms;
  -moz-transition: background 200ms, opacity 200ms;
  -o-transition: background 200ms, opacity 200ms;
  transition: background 200ms, opacity 200ms;
  left: 0;
  opacity: 0;
  z-index: -1;
  text-align: center; }
  .search input {
    width: 80%;
    padding: 6px 12px;
    border: none;
    font-size: 36px;
    font-weight: 200;
    outline: none; }
    .search input:focus {
      color: #583862; }

.search-active {
  background: #fff;
  z-index: 3;
  opacity: 1;
  -webkit-transition: background 300ms, opacity 300ms;
  -moz-transition: background 300ms, opacity 300ms;
  -o-transition: background 300ms, opacity 300ms;
  transition: background 300ms, opacity 300ms; }

.results {
  width: 100vw;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.post {
  width: 100vw;
  min-height: 200px;
  border-bottom: 1px solid rgba(103, 65, 114, 0.5);
  min-height: 160px; }
  .post .column:nth-of-type(1) {
    width: 63.8vw;
    vertical-align: bottom; }
  .post .column:nth-of-type(2) {
    width: 35vw;
    vertical-align: bottom; }
  .post .location {
    padding: 12px 0 0 18px;
    color: #333; }
    .post .location h4, .post .location .fa-level-down {
      display: inline-block;
      color: #444;
      vertical-align: bottom; }
    .post .location .fa-level-down {
      margin-left: 8px; }
  .post .driver-info {
    padding: 12px 0 4px 0; }
    .post .driver-info * {
      font-weight: 400; }
    .post .driver-info h4 {
      margin: 3px auto 3px auto; }
    .post .driver-info h6 {
      font-size: 13px !important; }
  .post .time-estimate {
    margin: 6px auto 17px auto; }
    .post .time-estimate * {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px !important; }
    .post .time-estimate i {
      margin: 0 6px 0 0; }
  .post .price, .post .seat-availability {
    margin-top: 0px;
    height: 50px;
    text-align: center;
    vertical-align: middle !important; }
    .post .price .row, .post .seat-availability .row {
      height: 100%;
      display: table; }
      .post .price .row div, .post .seat-availability .row div {
        display: table-cell;
        vertical-align: middle; }
  .post .price {
    color: #555;
    width: 40% !important;
    border-right: 1px solid rgba(103, 65, 114, 0.3); }
    .post .price h1 {
      font-weight: 400;
      font-size: 30px !important; }
    .post .price i {
      font-size: 19px !important; }
    .post .price h1, .post .price i {
      display: inline-block;
      vertical-align: middle; }
  .post .seat-availability {
    width: 35% !important;
    color: #888; }
    .post .seat-availability h3 {
      width: 100%;
      line-height: 19px;
      font-size: 21px !important; }
    .post .seat-availability * {
      font-weight: 200 !important; }

.driver-image {
  background-image: url("../img/user-profile-picture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 30vw;
  width: 90%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }

.add-ride {
  position: absolute;
  z-index: 5;
  bottom: 50px;
  right: 12px;
  width: 63px;
  height: 63px;
  padding-top: 1px;
  text-align: center;
  display: table;
  font-size: 24px;
  color: #fff;
  background: #d64541;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .add-ride * {
    display: table-cell !important;
    height: 100%;
    vertical-align: middle; }

.second {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: absolute;
  top: 0;
  left: 100vw; }
  .second i {
    font-size: 32px; }

#addRideForm {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 60px; }

#addride-btn {
  position: absolute;
  left: 10vw;
  bottom: 12px;
  width: 80vw;
  height: 40px;
  border: none;
  background: #d64541;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }
